{% extends 'base.html' %}

{% block links %}
    <link href="{{ url_for('static', filename='css/user.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="form-user">
  <form action="{{ url_for('accounts.account_info', account_id=account.id) }}" method="post">
    <h1 class="h3 mb-3 fw-normal">Account Info</h1>
    <p class="text-muted">Created by <b>{{account.user.username}}</b> at {{account.created_at.strftime('%Y-%m-%d, %H:%M')}}</p>

    <label class="w-100">Login<input class="form-control w-100" type="text" value="{{account.login}}"></label>
    <button class="btn btn-lg btn-primary mt-1 mb-3 w-100">Copy Login</button>

    <label class="w-100">Password<input class="form-control w-100" type="text" value="{{account.password}}"></label>
    <button class="btn btn-lg btn-primary mt-1 mb-3 w-100">Copy Password</button>

  </form>
</main>
{% endblock %}