# Put environment variables that hold sensitive data such as passwords here.
# NOTE: This file will not be placed under version control.

SECRET_KEY=<Secret>

ADMIN_PASS=admin
ADMIN_USER=admin

DB_PASSWORD=<Secret>
DB_NAME=hit_db
DB_LOCAL_PORT=54321

APP_LOCAL_PORT=5555

DEVEL_DATABASE_URL=postgresql://postgres:${DB_PASSWORD}@127.0.0.1:${DB_LOCAL_PORT}/${DB_NAME}
DATABASE_URL=postgresql://postgres:${DB_PASSWORD}@db/${DB_NAME}

TEST_USERS_NUMBER=120

AUTH_OTP_ENABLED=false
PAGE_SIZE=17

LDAP_SERVER=ldap.server.name
LDAP_USER=portal
LDAP_PASS=<password>

REMOTE_SHELL_SERVER=mdm.wiper.tel
REMOTE_SHELL_USER=Administrator
REMOTE_SHELL_PASS=QgLh%KU+kJu5
REMOTE_SHELL_PORT=22022
