body {
  background: rgb(251, 251, 251);
}

#sidebarMenu, .search_area {display: none! important;}

.form-add {
  width: 550px;
}

.form-add input {
  padding: 0 10px;
}

.form-add select {
  padding: 0 10px;
}

.account_info {
  width: 350px;
}

#login_input, #password_input {height: 45px;}

.hit-input {
  border: 1px solid lightgrey;
}

.copy_button {
  border-radius: 5px !important;
  margin-bottom: 5px  !important;
  padding-top: 3px  !important;
  padding-bottom: 10px  !important;
}

.user_form_submit {
  height: 50px!important;
}

.custom_alert {
  /* padding: 15px 0!important; */
  background: rgba(252, 109, 109, 0.542);
  color: red;
  font-weight: 500;
  border: 1px solid red;
}