body {
  background: rgb(251, 251, 251);
}

#sidebarMenu {display: none! important;}

.form-add {
  width: 550px;
}

#login_input, #password_input {height: 45px;}

.hit-input {
  border: 1px solid lightgrey;
}