.form-user {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-user .checkbox {
  font-weight: 400;
}

.form-user .form-floating:focus-within {
  z-index: 2;
}

.form-user input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user_update {
  text-decoration: none;
}

.delete_button {
  padding: 0 5px;
  color: red;
  text-decoration: none;
  border: 1px solid red;
}
