{% extends 'base.html' %}

{% block links %}
    <link href="{{ url_for('static', filename='css/custom_forms.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
  <main class="d-flex justify-content-center">
    <form class="form-add d-flex flex-column justify-content-between" action="{{ url_for('billings.billing_add') }}" method="post">

      {{form.hidden_tag()}}

      <h1 class="h3 mb-3">New Billing</h1>

      <div class="hit-fieldset d-flex justify-content-between pb-2 w-100">
        <p class="me-3 pt-3">{{form.users_public_key.label}}: </p>
        {{form.users_public_key(class='hit-input hit-input-textarea w-50 px-2')}}
      </div>

      <div class="hit-fieldset d-flex justify-content-between pb-2 w-100">
        <p class="me-3 pt-3">{{form.credits.label}}: </p>
        {{form.credits(type="username", class='hit-input w-50 px-2')}}
      </div>

      {{form.submit(class='user_form_submit w-100 btn btn-lg btn-primary')}}

      <div class="d-flex justify-content-center mt-5">
        <p><a class="user_update" href="{{ url_for('billings.billings_page') }}">Go back</a></p>
      </div>

    </form>

  </main>
{% endblock %}